/* common styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
body {
  margin: 0;
  background: whitesmoke;
  font-family: "Poppins", sans-serif;
}
section {
  margin-bottom: 140px;
}
/* Banner section style */
.banner {
  display: flex;
  padding-left: 250px;
  padding-right: 200px;
  gap: 150px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.banner-title {
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
  margin: 0;
}
.banner-description {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  margin-bottom: 30px;
}
.preebook {
  background: #e02c6d;
  border-radius: 41px;
  border: 0px;
  width: 196px;
  height: 44px;
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-content: center;
}
/* Ecommerce-shop styles */
.ecommerce {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
/* Popular Items section */
.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-popular {
  font-size: 33px;
  color: #3a3a3a;
}
.popular-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.item {
  border-radius: 7px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-right: 13px;
  padding-left: 14px;
  padding-bottom: 5px;
  height: min-content;
}
.item-description {
  line-height: 16px;
}
.product-title {
  color: #18191f;
  font-size: 26px;
  font-weight: 400;
}
.dollar {
  font-family: "Inter";
  font-weight: 300;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}
.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
}
.rating i {
  color: #fb8200;
}
.product-details {
  color: #787885;
  font-size: 13px;
  font-weight: 700;
  font-family: "Inter";
}
.see-more {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 920px;
}
.see-more a {
  text-decoration: none;
}
.feature {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 250px;
  padding-right: 250px;
}
.feature-description .feature-title {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}
.feature-description .description {
  text-align: justify;
  font-size: 16px;
  color: #6c6c6c;
  font-weight: 600;
}
.join-now-btn {
  background: #e02c6d;
  width: 155px;
  height: 44px;
  color: #ffffff;
  font-size: 17px;
  border: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer {
  height: 239px;
  width: 100%;
  background: #0a0826;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title {
  color: #ffffff;
  font-size: 25px;
  
}
.copy-right-msg {
  color: #d9dbe1;
  font-size: 13px;
}
.social-icon a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 20px;
}
/*................................ 
    Responsive for mobile view
................................. */
@media screen and (max-width: 576px) {
  section {
    margin-bottom: 70px;
  }
  .banner {
    padding-left: 0px;
    padding-right: 0px;
    gap: 0px;
    flex-direction: column-reverse;
  }
  .banner-title {
    font-weight: 600;
    font-size: 35px;
  }
  .banner-image {
    display: none;
  }
  .banner-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner-description {
    font-weight: 100;
    font-size: 15px;
  }
  .ecommerce {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 0;
  }
  .popular-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .see-more {
    display: none;
  }
  .feature {
    gap: 0px;
    flex-direction: column-reverse;
    padding-left: 0px;
    padding-right: 0px;
  }
  .feature-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
}
.hide {
  display: none;
}
